%nav.navbar.is-dark
  .navbar-brand
    = link_to root_url, class: 'navbar-item' do
      .title.is-4.has-text-white To Do_List

  .navbar-menu
    .navbar-end
      .navbar-item
        = form_for(@list) do |f|
          .field.has-addons
            .control
              = f.text_field :description, :class => 'input'
            .control
              = f.submit 'Add Todo Item', class: 'button is-info'
